:root {
  --cor-white: #f2f2f2;
  --cor-gray: #f0f2f5;
  --cor-yelow: #f29100;
  --cor-yelow2: #ffd863;
  --cor-dark: #33322c;
  --cor-green: #17be2a;
  --cor-blue: #4739e0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: var(--cor-gray);
  height: 70vh;
}

.content {
  display: flex;
  margin-top: 150px;
  max-width: 1050px;
}

.content-container {
  margin-left: 1px;
  background-color: #959f97;
  padding: 40px;
}

.center-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-login {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: 160px;
  margin-top: 10px;
}

.text-white {
  color: white;
}

.content-login-box {
  background-color: var(--cor-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inputs {
  padding: 20px;
  height: 22px;
  border-radius: 9px;
  border: 1px solid var(--cor-yelow2);
  outline: none;
  width: 90%;
  font-size: 17px;
  color: var(--cor-dark);
}

.inputs:focus {
  border-color: var(--cor-green);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  /* Ajuste a cor do texto do botão login */
  border: none;
  color: rgb(221, 168, 21);
  border-radius: 5px;
  /* width: 100%;*/
  font-size: 1.1rem;
  transition: .2s;
}

.btn-enter {
  background-color: var(--cor-yelow);
 
}

.text-white {
  color: white;
}

.btn-create-account {
  background-color: var(--cor-yelow);
 
}

.btn-enter:hover,
.btn-create-account:hover {
  background-color: var(--cor-yelow2);
  /* Cor de fundo ao passar o mouse */
  color: var(--cor-blue);
  /* Cor do texto ao passar o mouse */
  /* Outras propriedades desejadas para o efeito hover */
}

a {
  color: var(--cor-yelow2);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

hr {
  width: 100%;
  border: 1px solid var(--cor-gray);
}

p {
  text-align: center;
}

h1 {
  color: var(--cor-dark);
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 50;
  color: var(--cor-gray);
}
