.button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: darkorange;
  }
  
  .seta-chatbot {
    top: 23px;
  }

  .seta {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #000;
    margin-left: 6px;
  }
  