
.chatbot-icon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.chatbox.hidden {
    display: none;
}

.logo-img {
    width: 34px;
    height: 34px;
}

.centered-links {
    display: flex;
    justify-content: center;
    width: 100%;
}


.nav-link-styled {
    color: rgb(208, 146, 40);
    text-decoration: none;
    transition: all 0.4s;
    margin: 0 30px;
}

/* hover dos links do menu navbar */
.nav-link-styled:hover {
    color: rgb(222, 127, 18);
    font-weight: 600;
}


img {
    min-width: 100%;
}

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

/* A cor do texto do botão Entrar no navbar é aplicado no  Login.css na classeName .btn*/
.btn-brand {
    color: aliceblue;
    background-color: rgb(255, 169, 40);
    border-color: rgb(236, 176, 37);
    font-weight: 600;
}

.btn-brand:hover {
    background-color: rgb(246, 218, 176);
    border-color: rgb(255, 188, 88);
    color: aliceblue;
}



  .btn-rounded {
    border-radius: 20px; 
    padding: 5px 10px;
    font-size: 12px;
  }
  
  /* hover do texto botão entrar e hover no botão no navbar */
  .btn-rounded:hover {
    color: rgb(207, 190, 31);
    background-color: rgb(248, 246, 115);
  }
  


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

